/* Random.css */
.random-container {
    text-align: center;
    padding: 10px;
}

.button-group {
    margin: 10px 0;
}

.LottoMachine {
    max-width: 100%;
    height: auto; /* 모바일에서 비율 유지 */
    margin-top: 20px;
}

.random-button {
    padding: 8px 15px;
    margin: 5px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.random-button:hover {
    background-color: #e0e0e0;
}

.number-display {
    margin-top: 20px;
}

.lotto-number {
    margin: 0 5px; /* 모바일에서 간격 줄임 */
}

.lotto-ball {
    width: 25px; /* 모바일에 맞춘 크기 */
    height: 25px;
}

/* 데스크톱용 미디어 쿼리 (768px 이상) */
@media (min-width: 768px) {
    .LottoMachine {
        height: 500px;
        margin-top: 35px;
    }

    .random-button {
        padding: 10px 20px;
        font-size: 14px;
    }

    .lotto-number {
        margin: 0 10px;
    }

    .lotto-ball {
        width: 40px;
        height: 40px;
    }
}